@media(max-width:767px) {
        .center {
            padding-left: 16px;
            padding-right: 16px;
        }
    
        .top {
            min-height: 735px;
            align-items: center;
            gap: 32px;
    
            &__heading {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                padding-top: 238px;
            }
    
            &__text {
                font-weight: 300;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }
    
            &__button {
                margin-top: 0;
            }
    
        }
    
    
        .content {
            padding-top: 128px;
            align-content: center;
            min-height: 1221px;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 0;
            row-gap: 32px;
    }
    .content__game{
            margin: 0;
            grid-column: 1/-1;
            padding-left: 16px;        
    }
    }